{% extends 'base.html.twig' %}

{% block title %}Formulario Artículo{% endblock %}

{% block body %}

    <h1 class="text-center display-5 mt-3">{{mensaje}}</h1>
    {{ form(form) }}
    <!-- Hacer botones en línea -->
    <a class="btn btn-primary" href="#" role="button">Link</a>

{% endblock %}